body {
    width: 100%;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
    margin-right: 50px;
    text-align: left;
    font-family: Arial, sans-serif
}

#container {
    width: 70%;
    margin-left: 100px;
    /* margin: auto; */
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f6f7f6;
    padding: 10px;
}

h2 {
    /* margin-top: ; */
    color: darkslateblue;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

#head>#content {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
}

#content>#bmical>h3 {
    color: slateblue;
    font-size: 18px;
    padding: 0px 10px;
    margin-bottom: 0px;
}

#content>#bmical>p {
    font-size: 13px;
    margin-top: 0PX;
    padding: 0px 10px;
}

#bmidata {
    padding: 5px;
    margin-left: 50px;
}

#bmidata>span {
    font-size: 12px;
    font-weight: bold;
}

#bmidata>input {
    width: 95px;
    height: 15px;
}

#bmidata>select {
    width: 95px;
    height: 22px;
}

#bmidatah {
    padding: 5px;
    margin-left: 100px;
}

#bmidatah>span {
    font-size: 12px;
    font-weight: bold;
}

#bmidatah>input {
    width: 40px;
    height: 15px;
}

#bmidatah>select {
    width: 95px;
    height: 22px;
}

#calculate {
    margin: auto;
}

#calculate>button {
    margin-left: 170px;
    margin-right: 100px;
    background-color: lightgreen;
    height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#aboutbmi {
    padding: 10px;
}

#aboutbmi>h3 {
    margin-top: 10px;
    color: slateblue;
    font-size: 15x;
}

#aboutbmi>div>p {
    font-size: 13px;
    text-align: left;
    padding: auto;
}